{% extends 'app_final/base.html' %}

{% block main_content %}

<h1>
    Conoce más sobre nosotros
</h1>

<p1>
    Estamos orgullosos de ayudar a los restaurantes de nuestro mercado a unificar todas sus ordenes. 
    Logrando entregar los pedidos a sus clientes en tiempo record
    
    <br>

    Contamos con más de 1000 restaurantes aderidos y la unificación de más de 10 plataformas en todo el mundo.

</p1>
<br><br>
<h2>
    Con que applicaciones trabajamos?
</h2>
<p1>
    Conoce más en nuestra sección de plataformas.

    <br>

    Entre ellas podras encontrar a Rappi, Pedidos Ya, Delivery Hero
</p1>
<br><br>
<h2>
    Los clientes pueden pedir directamente desde Delivery Now?
</h2>
<p1>
    Por supuesto!

    <br>

    Buscamos mejorar la industria del delivery desde todos sus aspectos mejorando la calidad y usabilidad de las plataformas tradicionales de pedidos
</p1>


{% endblock main_content %}